<!doctype html>
<html>
<head>
<link rel='stylesheet' href='/static/style.css' media="screen and (min-width: 512px) and (max-width: 1024px)"/>
<head>
<body>
<div>
<h1>Welcome to Woodcafe Wcnc</h1>
<table>
<tr><td>
<a href='sand'><img src='/static/image/sander.jpg'/></a>
</td></tr>
<tr><td>
<a href='move'><img src='/static/image/move.png'/></a>
</td></tr>
<tr><td>
<a href='command'><img src='static/image/command.jpg'</a>
</td></tr>
<tr><td>
<a href='file'><img src="static/image/upload.png"</a>
</td></tr>
</table>
</div>
</body>
</html>
